@import "common.less";

#cv {
  width: 100%;
  height: 100vh;
  //position: relative;
  @media @bigScreen {
    .lg {
      display: unset;
    }
    .md {
      display: none;
    }
    .sm {
      display: none;
    }
  }
  @media @middleScreen {
    .lg {
      display: none;
    }
    .md {
      display: unset;
    }
    .sm {
      display: none;
    }
  }
  @media @smallScreen {
    .lg {
      display: none;
    }
    .md {
      display: none;
    }
    .sm {
      display: block;
      position: relative;
      overflow: scroll;
      height: 100%;
      .cvContentBox {
        position: relative;
        margin-left: @marginLeft / 4;
        margin-right: @marginLeft / 4;
        color: rgb(0, 0, 0);
        width: 100%- ((@marginLeft / 4)+ (@marginRight / 4)+2px);
        background-color: rgba(255, 255, 244, 0.75);
        top: calc(~"3em + 20px");
        font-size: 1em;
        font-family: "Montserrat", sans-serif;
        font-weight: 200;
        .cvPosition {
          padding: 0.5em 2em 0.5em 2em;
          margin-bottom: 1em;
        }
      }
    }
  }

  .tip {
    padding: 10px;
    min-width: 20px;
    max-width: 250px;
    background-color: rgba(255, 255, 255, 0.75);
    position: fixed;
    z-index: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
  }
  .tip p {
    margin: 0;
    color: black;
    font-family: "Verdana";
  }
  // .l-tip::after,
  // .r-tip::after {
  //   content: "";
  //   position: absolute;
  //   width: 3px;
  //   height: 30px;
  //   background-color: rgba(255, 255, 255, 0.75);
  // }
  // .l-tip::after {
  //   bottom: -22px;
  //   right: -10px;
  //   transform: rotate(-45deg);
  // }
  // .r-tip::after {
  //   left: -10px;
  //   bottom: -22px;
  //   transform: rotate(45deg);
  // }

  .cvBg {
    width: 100%;
    height: 100%;
    background-image: url("../images/backgrounds/cv.jpg");
    background-size: cover;
    // background-attachment: fixed;
    //background-size: 2827px;
    background-repeat: no-repeat;
    background-position: center center;
    // background-position-x: left;
    // background-position-y: top;
    animation-name: fadeIn;
    animation-duration: 10s;
    opacity: 0.4;
    filter: alpha(opacity=50);
    position: absolute;
  }
}
