@smallScreen: ~"only screen and (max-width: 479px)";
@middleScreen: ~"only screen and (min-width: 480px) and (max-width: 949px)";
@bigScreen: ~"only screen and (min-width: 950px)";
#loader-wrapper {
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    text-align: center;
    .loader,
    .loader:after {
        @media @bigScreen {
            width: 10em;
            height: 10em;
            top: 40%;
        }
        @media @middleScreen {
            width: 7em;
            height: 7em;
            top: 40%;
        }
        @media @smallScreen {
            width: 3em;
            height: 3em;
            top: 50%;
        }
        z-index: 1001;
        margin: auto;
        position: relative;
    }
}

.loaded {
    #loader-wrapper {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 1.5s ease-out;
        transition: all 1.5s ease-out;
    }
}